data/
results/
program/old
.Rproj.user
*rds
.*
*Rproj
program/renv/
!program/shinyApp
!program/shinyApp/data
program/*.RDS
program/*.Rmd
program/*.md
program/shinyApp/*.md
program/shinyApp/*.RDS
program/shinyApp/*.png
program/shinyApp/*.xml
program/shinyApp/*.log
program/shinyApp/www/*md
!.github/
!./renv/cellar

